/* static/category.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-card {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.product-name {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #333;
}

.product-price {
    font-size: 0.9em;
    color: #666;
}

.category-button {
    padding: 10px;
    margin: 5px;
    background-color: #0071dc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.category-button.active {
    background-color: #005bb5;
}


.sign-out-button {
    padding: 8px 15px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.sign-out-button:hover {
    background-color: #ff3333;
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
